# Data pre-processing

customers_dataset

In [1]:
import numpy as np
import pandas as pd

df1 = pd.read_csv('/content/olist_customers_dataset.csv', encoding='windows-1252')

In [2]:
# read all rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
# number of rows and columns of dataset
df1.shape

(99441, 5)

In [4]:
# columns of dataset
df1.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [5]:
# data type of each column and null values
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [6]:
# check for duplicate values (no)
df1.duplicated().value_counts()

False    99441
dtype: int64

In [7]:
# drop columns
df1.drop(columns = ['customer_zip_code_prefix'], inplace=True)

In [8]:
df1.sample(5)

,customer_id,customer_unique_id,customer_city,customer_state
6700,790457083a93bebbe540493b9de809cc,c3a9ab6f69283de93ff7d0ce244a3c67,rio claro,SP
8089,92ad3fa7e8c36426785e53b628576c56,11a39e3eb3968676aa98106a19642b30,juiz de fora,MG
96478,369ccab6e4d6df1c10a32d98cce08d61,d9e1b1a2be1099683792849d51b2edc6,cachoeira alta,GO
58965,e29b173e2f8fdd7546b5d3cca8385032,9a401204217ee04e12b8f097f80bbfd8,carapicuiba,SP
97995,376c7f50236fad51150ba8d901db18a6,afeed2fe9f00485bae19623e306b3937,presidente prudente,SP

In [9]:
# export the final file
df1.to_csv('olist_customers.csv', index=False)

order_items_dataset

In [10]:
import numpy as np
import pandas as pd

df2 = pd.read_csv('/content/olist_order_items_dataset.csv', encoding='windows-1252')

In [11]:
# read all rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [12]:
# number of rows and columns of dataset
df2.shape

(112650, 7)

In [13]:
# columns of dataset
df2.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')

In [14]:
# data type of each column and null values
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [15]:
# check for duplicate values (no)
df2.duplicated().value_counts()

False    112650
dtype: int64

In [16]:
# change datatype for shipping_limit_date
df2['shipping_limit_date'] = pd.to_datetime(df2['shipping_limit_date'])

In [17]:
df2.sample(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
79808,b57e995a96941e23ee717939a2372baf,1,59b47581b7ba51a62bf9c3dd4fef36fd,955fee9216a65b617aa5c0531780ce60,2018-03-25 21:08:50,180.00,40.29
12722,1cd2f52e42a0c37a8b1d06b7643a2005,1,770c257cdfc072fb50ebf2bbd6696fe1,f3da5b2ff499efb8d4a6d371d175d7dd,2018-03-22 19:35:25,69.90,8.29
28678,414aa35f4bb723e9b5787467f282450e,1,3ede26b9ff5be98aa46feaf2b1416ddb,ef506c96320abeedfb894c34db06f478,2017-07-31 03:25:32,22.99,15.10
27940,3f8e641fbeeebd6f2d786d0b280e300c,1,1b8ee158f59c098470fad33f39660964,1554a68530182680ad5c8b042c3ab563,2017-08-02 13:50:09,139.90,31.73
85808,c2e9150ecca583eb68c1e2e2b650caac,1,4deb009c36a910076a023947a7929201,8629c241b3622ac12cd4118afdc8d394,2018-05-11 16:12:36,51.81,37.05

In [18]:
# export the final file
df2.to_csv('olist_order_items.csv', index=False)

order_payments_dataset

In [19]:
import numpy as np
import pandas as pd

df3 = pd.read_csv('/content/olist_order_payments_dataset.csv', encoding='windows-1252')

In [20]:
# read all rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [21]:
# number of rows and columns of dataset
df3.shape

(103886, 5)

In [22]:
# columns of dataset
df3.columns

Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

In [23]:
# data type of each column and null values
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [24]:
# check for duplicate values (no)
df3.duplicated().value_counts()

False    103886
dtype: int64

In [25]:
df3.sample(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
82662,17028de7d02a1fca7c1d08221b859b77,1,credit_card,6,213.59
81690,d2337a41d3e791baab0721d029477897,1,credit_card,1,34.00
80402,ae5d90764ed49cd5e5e72cd3df5b787e,1,credit_card,3,103.64
21930,2b52dbab41840708a214e393b22184be,1,credit_card,2,62.23
77300,11f561d4e8e6398b03a193ff522d5a27,1,credit_card,3,85.60

In [26]:
# export the final file
df3.to_csv('olist_order_payments.csv', index=False)

order_review_dataset

In [27]:
import numpy as np
import pandas as pd

df4 = pd.read_csv('/content/olist_order_reviews_dataset.csv')

In [28]:
# read all rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [29]:
# number of rows and columns of dataset
df4.shape

(99224, 7)

In [30]:
# columns of dataset
df4.columns

Index(['review_id', 'order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')

In [31]:
# data type of each column and null values
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [32]:
# drop columns
df4.drop(columns = ['review_comment_title'], inplace=True)
df4.drop(columns = ['review_comment_message'], inplace=True)

In [33]:
# change datatype for review_creation_date and review_answer_timestamp
df4['review_creation_date'] = pd.to_datetime(df4['review_creation_date'])
df4['review_answer_timestamp'] = pd.to_datetime(df4['review_answer_timestamp'])

In [34]:
# check for duplicate values (no)
df4.duplicated().value_counts()

False    99224
dtype: int64

In [35]:
df4.sample(5)

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp
7520,0e2a9cd112e26220acd43a4e86637ac2,668b09e578d6cdac0eb996a3457d49a5,5,2018-07-12,2018-07-13 11:27:33
10994,bb8ab00d21f0fff373f9b63470013abe,98f75acaf1c9b0c2424f3b0fc6a22bdc,5,2017-06-14,2017-06-14 15:03:40
61375,3c3f9d6e21d364cf42fe90f8f21224a6,0517edc6ddee491e072a844bfbb54c86,5,2018-05-03,2018-05-07 10:21:56
39469,fdbb3651169dcb6787e54d597b35018f,f0ab33ceba10623b929d52fe23fff27b,5,2017-05-12,2017-05-16 12:59:36
98356,5a0a62ec4f6f075fc1b2bd44742d9989,e87cef857d6e092b7352e1fb48a82de1,5,2017-08-22,2017-08-22 21:55:53

In [36]:
# export the final file
df4.to_csv('olist_order_reviews.csv', index=False)

orders_dataset

In [37]:
import numpy as np
import pandas as pd

df5 = pd.read_csv('/content/olist_orders_dataset.csv')

In [38]:
# read all rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [39]:
# number of rows and columns of dataset
df5.shape

(99441, 8)

In [40]:
# columns of dataset
df5.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

In [41]:
# data type of each column and null values
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [42]:
# change datatype for data columns
df5['order_purchase_timestamp'] = pd.to_datetime(df5['order_purchase_timestamp'])
df5['order_approved_at'] = pd.to_datetime(df5['order_approved_at'])
df5['order_delivered_carrier_date'] = pd.to_datetime(df5['order_delivered_carrier_date'])
df5['order_delivered_customer_date'] = pd.to_datetime(df5['order_delivered_customer_date'])
df5['order_estimated_delivery_date'] = pd.to_datetime(df5['order_estimated_delivery_date'])

In [43]:
# check for duplicate values (no)
df5.duplicated().value_counts()

False    99441
dtype: int64

In [44]:
df5.sample(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
56273,c261c57774808b333866f1957d4f8ebd,a5deab37103ca8c97bc8b9adb7de4c9b,delivered,2018-02-21 22:57:17,2018-02-21 23:10:24,2018-02-22 18:52:17,2018-03-02 12:41:46,2018-03-08
14449,afa891fe2077e4e3301629891009a47d,6d6414a8eb7e7e516280747b41470e55,delivered,2018-06-21 19:07:44,2018-06-21 19:21:39,2018-06-22 12:26:00,2018-06-29 19:06:44,2018-07-25
55408,cafe1030b50f6fbe232a1532e95c89a6,5736944f51ca2a7e68fa3180b5b499da,delivered,2018-02-19 16:50:58,2018-02-19 17:55:41,2018-02-22 00:50:35,2018-03-19 22:46:39,2018-03-09
21298,10c12ecab799c32c29b4df3a203ecaa8,2958f7dccf3976fef64e82ec6d3b562b,delivered,2017-02-08 08:34:04,2017-02-08 08:45:18,2017-02-08 10:33:02,2017-02-15 14:45:40,2017-03-09
38489,b7efe64319f69973a0924eb8e7a1ed3e,a328e11781c6b668cea0a2bda09ed9d3,delivered,2017-12-28 16:42:46,2017-12-28 16:50:27,2017-12-29 16:04:01,2018-01-23 18:27:55,2018-02-01

In [45]:
# export the final file
df5.to_csv('olist_orders.csv', index=False)

products_dataset

In [46]:
import numpy as np
import pandas as pd

df6 = pd.read_csv('/content/olist_products_dataset.csv')

In [47]:
# read all rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [48]:
# number of rows and columns of dataset
df6.shape

(32951, 9)

In [49]:
# columns of dataset
df6.columns

Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

In [50]:
# data type of each column and null values
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [51]:
# drop columns
df6.drop(columns = ['product_name_lenght'], inplace=True)
df6.drop(columns = ['product_description_lenght'], inplace=True)

Drop Portuguese product names and change to English (product_category_name_translation)

In [52]:
import numpy as np
import pandas as pd

df7 = pd.read_csv('/content/product_category_name_translation.csv')

In [53]:
# merge data
df67 = pd.merge(df6, df7, on='product_category_name', how='left')

In [54]:
# drop portuguese names
df67.drop(columns = ['product_category_name'], inplace=True)
df67.head(5)

,product_id,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,4.0,625.0,20.0,17.0,13.0,housewares

In [55]:
# reorder the columns
cols = ['product_id', 'product_category_name_english', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']
df67 = df67[cols]
df67.sample(5)

,product_id,product_category_name_english,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
21660,82254d93b897fde054504b15f8fe923c,home_construction,2.0,2550.0,38.0,28.0,28.0
32218,93b67da06834e15a3594134d43ee4ebe,home_appliances,1.0,1200.0,28.0,8.0,13.0
17583,ba31c397eec007a164fa766c6b90fa97,bed_bath_table,1.0,2350.0,20.0,30.0,30.0
10500,e923da464bbde92908a4d934bca4ab85,garden_tools,1.0,600.0,17.0,17.0,12.0
2519,97017430754804328eb9597b7f85da03,telephony,5.0,300.0,17.0,4.0,12.0

In [56]:
# export the final file
df67.to_csv('olist_products_en.csv', index=False)